#user-login {
    background-color: rgba(255,255,255,0.35);
    border-radius: 7px;
    margin: -40px 20px 0px 20px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    height: 50vh;
}

#user-login__greeting {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    margin: 10px;
}

#user-login__greeting i {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: rgba(0,0,0,0.35);
    border-radius: 50%;
    color: white;
    margin-right: 8px;
    padding: 2px;
    font-size: 13px;
}

#user-login__content {
    display: flex;
    justify-content: space-between;
    height:100%;
    overflow: hidden;
}

.user-login__title {
    font-size: 22px;
    margin-bottom: 20px;
}

.user-login__block {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.user-login-box{
    background-color: rgba(255,255,255,0.35);
    border-radius: 7px;
    padding: 20px;
    margin: 7px;
}

